* {
    padding: 0; 
    margin: 0;
    
}
/*caixa principal do portfolio*/
.conteiner {
    background-color: rgb(0, 255, 255);
}
/*conteúdo do cabeçalho*/
.name-and-foto {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

.name-and-foto h1{
    padding: 10px 0px 5px 10px;
    text-align: center;
    
}

.name-and-foto h2 {
    padding: 10px 0px 30px 10px;
    text-align: center;
    
}

.img img{
    padding: 5px;
    width: 300px;
    /*moldura da foto*/
    background-color: aliceblue;
    text-align: left;
    display: inline-block;
    border-radius: 50px;
 
}

.description {
    text-align: justify;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    

}

.habilidades{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.habilidades .perfil-linkedin h3 {
    margin: 10px;
}

.perfil-linkedin{
    width: 90%;
    margin: auto;
    text-align: center;
    
}